<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Yinka Enoch Adedokun">
    <title>Login Page</title>
  </head>
  
  <body>
    <!-- Main Content -->
    <div class="container-fluid">
      <div class="row main-content text-center ">
        <div class=" col-lg-5 text-center company__info">
          <div class="conatiner">
            <div id="sareesCarousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#sareesCarousel" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#sareesCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#sareesCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#sareesCarousel" data-bs-slide-to="3" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#sareesCarousel" data-bs-slide-to="4" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#sareesCarousel" data-bs-slide-to="5" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#sareesCarousel" data-bs-slide-to="6" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#sareesCarousel" data-bs-slide-to="7" aria-label="Slide 3"></button>
  
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active c-item">
                  <img src="assets/saree1.jpeg" class="d-block w-100 c-img" alt="...">
                  <div class="carousel-caption top-4 d-none d-md-block">
                    <h2 class=" fw-bolder">Banarasi Saree </h2>
                    <button class="explore-button px-4 py-2 fs-5 mt-4">Explore It</button>
                  </div>
                </div>
                <div class="carousel-item c-item">
                  <img src="assets/saree2.jpg" class="d-block w-100 c-img" alt="...">
                  <div class="carousel-caption top-4 d-none d-md-block">
                    <h2 class="fw-bolder">Kanchipuram Silks</h2>
                    <button class="explore-button px-4 py-2 fs-5 mt-4">Explore It</button>
                  </div>
                </div>
                <div class="carousel-item c-item">
                  <img src="assets/saree3.jpg" class="d-block w-100 c-img" alt="...">
                  <div class="carousel-caption top-4 d-none d-md-block">
                    <h2 class="fw-bolder">No Time To Die (2021) Full Movie</h2>
                    <button class="explore-button px-4 py-2 fs-5 mt-4">Explore It</button>
                  </div>
                </div>
                <div class="carousel-item c-item">
                  <img src="assets/saree4.jpg" class="d-block w-100 c-img" alt="...">
                  <div class="carousel-caption top-4 d-none d-md-block">
                    <h2 class="fw-bolder">No Time To Die (2021) Full Movie</h2>
                    <button class="explore-button px-4 py-2 fs-5 mt-4">Explore It</button>
                  </div>
                </div>
                <div class="carousel-item c-item">
                  <img src="assets/saree5.jpg" class="d-block w-100 c-img" alt="...">
                  <div class="carousel-caption top-4 d-none d-md-block">
                    <h2 class="fw-bolder">No Time To Die (2021) Full Movie</h2>
                    <button class="explore-button px-4 py-2 fs-5 mt-4">Explore It</button>
                  </div>
                </div>
                <div class="carousel-item c-item">
                  <img src="assets/saree6.jpg" class="d-block w-100 c-img" alt="...">
                  <div class="carousel-caption top-4 d-none d-md-block">
                    <h2 class="fw-bolder">No Time To Die (2021) Full Movie</h2>
                    <button class="explore-button px-4 py-2 fs-5 mt-4">Explore It</button>
                  </div>
                </div>
                <div class="carousel-item c-item">
                  <img src="assets/saree7.jpg" class="d-block w-100 c-img" alt="...">
                  <div class="carousel-caption top-4 d-none d-md-block">
                    <h2 class="fw-bolder">No Time To Die (2021) Full Movie</h2>
                    <button class="explore-button px-4 py-2 fs-5 mt-4">Explore It</button>
                  </div>
                </div>
                <div class="carousel-item c-item">
                  <img src="assets/saree8.jpg" class="d-block w-100 c-img" alt="...">
                  <div class="carousel-caption top-4 d-none d-md-block">
                    <h2 class="fw-bolder"></h2>
                    <button class="explore-button px-4 py-2 fs-5 mt-4">Explore It</button>
                  </div>
                </div>
  
              </div>
              <!-- <button class="carousel-control-prev" type="button" data-bs-target="#sareesCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#sareesCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  </button> -->
  
            </div>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
  
        </div>
        <div class="col-lg-7 col-md-8 col-xs-12 col-sm-12 login_form ">
          <div class="row head">
            <div class="card">
              <div class="login-box">
                <div class="login-snip">
                  <input id="tab-1" name="tab-1" type="radio" name="tab" class="sign-in" checked>
                  <label for="tab-1" class="tab">Login</label>
                  <input id="tab-2" name="tab-2" type="radio" name="tab" class="sign-up">
                  <label for="tab-2" class="tab">SignUp</label>
                  <div class="login-space">
                    <p class="error-p">{{authError}}</p>
                    <form class="login mt-4" #signInForm="ngForm" (ngSubmit)="signIn(signInForm.value)">
                      <div class="group">
                        <label for="email" class="label-signIn-email">Email</label>
                        <input id="email" name="email" type="text" class="input" placeholder="Enter your Email" ngModel
                          #email="ngModel" required="">
                        <p class="invalid-input-email"><span *ngIf="email.invalid && email.touched">Please enter valid
                            Email</span></p>
                      </div>
                      <div class="group">
                        <label for="password" class="label-signIn">Password</label>
                        <input id="password" name="password" type="password" class="input" data-type="password"
                          placeholder="Enter your password" minlength="5" maxlength="8" #password="ngModel" required
                          ngModel>
                        <p class="invalid-input"><span *ngIf="password.invalid && password.touched">Please enter valid
                            Password</span></p>
  
                      </div>
                      <div class="group">
                        <input id="check" name="check" type="checkbox" class="check" checked>
                        <label for="check" class="keepMeSignIn"><span class="icon"></span> Keep me Signed in</label>
                      </div>
                      <div class="group">
                        <button type="submit" class="button-submit" value="Sign In">Sign
                          In</button>
                      </div>
                      <div class="hr"></div>
                      <div class="foot">
                        <a href="#">Forgot Password?</a>
                      </div>
                    </form>
                    <form class="sign-up-form" #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm.value)">
                      <div class="row">
                        <div class="form-group group col-lg-6 col-sm-12">
                          <div class="input-gap">
                            <label for="fname" class="label">First Name</label>
                            <input name="fname" type="text" class="input" placeholder="Enter First Name" ngModel>
                          </div>
                        </div>
                        <div class="form-group group col-lg-6 col-sm-12">
                          <div class="input-gap">
                            <label for="lname" class="label">Last Name</label>
                            <input name="lname" type="text" class="input" placeholder="Enter Last Name" ngModel>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group group col-lg-6 col-sm-12">
                          <div class="input-gap">
                            <label for="aadhar" class="label">Aadhar Number</label>
                            <input name="aadhar" type="text" class="input" placeholder="Enter Aadhar Number" ngModel>
                          </div>
                        </div>
                        <div class="form-group group col-lg-6 col-sm-12">
                          <div class="input-gap">
                            <label for="pan" class="label">PAN Number</label>
                            <input name="pan" type="text" class="input" placeholder="Enter PAN Number" ngModel>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group group col-lg-5 col-sm-12">
                          <div class="input-gap-phone">
                            <label for="phone" class="label">Phone Number</label>
                            <input name="phone" type="text" class="input" placeholder="Enter Phone Number" ngModel>
                          </div>
                        </div>
                        <div class="form-group group col-lg-4 col-sm-12 ml-2">
                          <div class="input-gap-otp">
                            <label for="potp" class="label">Otp</label>
                            <input name="potp" type="text" class="input" placeholder="Enter Otp" ngModel>
                          </div>
                        </div>
                        <div class="form-group group col-lg-2 col-sm-12 pl-4">
                          <div>
                            <button type="submit" class="button-phone" value="Verify" ngModel>Verify</button>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group group col-lg-5 col-sm-12">
                          <div class="input-gap-phone">
                            <label for="email" class="label">Email</label>
                            <input name="email" type="text" class="input" placeholder="Enter Email" ngModel>
                          </div>
                        </div>
                        <div class="form-group group col-lg-4  col-sm-12 ml-2">
                          <div class="input-gap-otp">
                            <label for="eotp" class="label">Otp</label>
                            <input name="eotp" type="text" class="input" placeholder="Enter Otp" ngModel>
                          </div>
                        </div>
                        <div class="form-group group col-lg-2 col-sm-12  pl-4">
                          <div>
                            <button type="submit" class="button-phone" value="Verify" ngModel>Verify</button>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group group col-lg-6 col-sm-12">
                          <div class="input-gap">
                            <label for="peraddress" class="label">Permanent Address</label>
                            <input name="peraddress" type="text" class="input" placeholder="Enter your Permanent Address"
                              ngModel>
                          </div>
                        </div>
                        <div class="form-group group col-lg-6 col-sm-12">
                          <div class="input-gap">
                            <label for="preaddress" class="label">Present Address</label>
                            <input name="preaddress" type="text" class="input" placeholder="Enter your Present Address"
                              ngModel>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group group col-lg-6 col-sm-12">
                          <div class="input-gap">
                            <input name="chooseFile" type="text" class="input" placeholder="Select File" ngModel>
                          </div>
                        </div>
                        <div class="form-group group col-lg-6 col-sm-12">
                          <div class="input-gap">
                            <input name="file" type="file" class="input"
                              placeholder="Enter your Present Address" ngModel>
                          </div>
                        </div>
                      </div>
                      <div class="group btnn">
                        <button type="submit" class="button" value="Sign Up">SignUp</button>
                      </div>
                      <div class="hr"></div>
                      <div class="foot">
                        <label for="tab-1">Already Member?</label>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- <header>
        <div class="header-main">
          <div class="header-container row">
          <div class="u-s-m-b-30 col-lg-4">
              <a href="#" class="header-logo">
              <img
                  src="./assets/images/logo/logo.svg"
                  alt="Anon's logo"
                  width="120"
                  height="36"
              />
              </a>
          </div>
          <div class="u-s-m-b-30 col-lg-4">
              <input
              class="input input--primary-style"
              type="text"
              id="username"
              placeholder="Enter the User Name"
              required
              />
              <input
              class="input input-text--primary-style"
              type="number"
              id="Password"
              placeholder="Enter the Password"
              required
              />
          </div>
          <div class="u-s-m-b-30 col-lg-4">
              <button class="btn" type="button">Login</button>
          </div>
          
          </div>
        </div>
      </header>
      <div class="row">
          <div id="app" class=" col-md-6">
              <div class="u-s-p-b-60">
                <div class="section__intro u-s-m-b-60">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="section__text-wrap">
                          <h1 class="section__heading u-c-secondary">
                            AGENT REGISTRATION FORM
                          </h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="section__content">
                  <div class="container">
                    <div class="row row--center">
                      <div class="col-lg-6 col-md-8 u-s-m-b-30">
                        <div class="l-f-o">
                          <div class="l-f-o__pad-box">
                            <h1 class="gl-h1">PERSONAL INFORMATION</h1>
                            <form class="l-f-o__form">
                              <div class="gl-s-api">
                                <div class="u-s-m-b-15">
                                  <button
                                    class="gl-s-api_btn gl-s-api_btn--fb"
                                    type="button"
                                  >
                                    <i class="fab fa-facebook-f"></i>
        
                                    <span>Signup with Facebook</span>
                                  </button>
                                </div>
                                <div class="u-s-m-b-30">
                                  <button
                                    class="gl-s-api_btn gl-s-api_btn--gplus"
                                    type="button"
                                  >
                                    <i class="fab fa-google"></i>
        
                                    <span>Signup with Google</span>
                                  </button>
                                </div>
                              </div>
                              <div class="u-s-m-b-30 ">
                                <label class="gl-label" for="reg-aadhar">
                                  AADHAR NUMBER *
                                </label>
        
                                <input
                                  class="input-text input-text--primary-style"
                                  type="number"
                                  id="reg-aadhar"
                                  placeholder="Enter the Aadhar Number"
                                  required
                                />
                              </div>
        
                              <div class="u-s-m-b-30">
                                <label class="gl-label" for="reg-pan">
                                  PAN NUMBER *
                                </label>
        
                                <input
                                  class="input-text input-text--primary-style"
                                  type="text"
                                  id="reg-pan"
                                  placeholder="Enter the PAN Number"
                                  required
                                />
                              </div>
        
                              <div class="u-s-m-b-30">
                                <label class="gl-label" for="reg-phone">PHONE NUMBER *</label>
        
                                <input
                                  class="input-text input-text--primary-style"
                                  type="number"
                                  id="reg-phone"
                                  placeholder="Enter the Phone Number"
                                  required
                                />
                                    <button class="button btn" type="button">Send OTP</button>
                              </div>
        
                              <div class="u-s-m-b-30">
                                <label class="gl-label" for="reg-otp">OTP *</label>
        
                                <input
                                  class="input-text input-text--primary-style"
                                  type="number"
                                  id="reg-otp"
                                  placeholder="Enter the OTP"
                                  required
                                />
                                <button class="button btn" type="button">Verify</button>
                                
                              </div>
        
                              <div class="u-s-m-b-30">
                                <label class="gl-label" for="reg-ref">
                                  REFERENCE NUMBER *
                                </label>
        
                                <input
                                  class="input-text input-text--primary-style"
                                  type="number"
                                  id="reg-ref"
                                  placeholder="Enter the Reference number"
                                  required
                                />
                              </div>
                               <div class="u-s-m-b-30">
                                <label class="gl-label" for="reg-preadd">PRESENT ADDRESS *</label>
        
                                <input
                                  class="input-text input-text--primary-style"
                                  type="text"
                                  id="reg-preadd"
                                  placeholder="Enter the Present Address"
                                  required
                                />
                              </div>
                              <div class="u-s-m-b-30">
                                <label class="gl-label" for="reg-peradd">PERMANENT ADDRESS *</label>
        
                                <input
                                  class="input-text input-text--primary-style"
                                  type="text"
                                  id="reg-peradd"
                                  placeholder="Enter the Permanent Address"
                                  required
                                />
                              </div>
        
                              <div class="u-s-m-b-15">
                                <button
                                  class="btn btn--e-transparent-brand-b-2"
                                  type="submit"
                                >
                                  CREATE
                                </button>
                              </div>
        
                              <a class="gl-link" href="#">Return to Store</a>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      
           <div class=" col-md-6">
          <div class="main1">
            <ul>
              <li>
                <div class="slidetitle">
                  <span>Kung-Fu Panda</span>
                </div>
                <a href="#">
                  <img src="https://i.imgur.com/lwYJ4rx.jpg" />
                </a>
              </li>
              <li>
                <div class="slidetitle">
                  <span>Toy Story</span>
                </div>
                <a href="#">
                  <img src="https://i.imgur.com/BjB65TS.jpg" />
                </a>
              </li>
              <li>
                <div class="slidetitle">
                  <span>Wall-E</span>
                </div>
                <a href="#">
                  <img src="https://i.imgur.com/nyettOe.jpg" />
                </a>
              </li>
              <li>
                <div class="slidetitle">
                  <span>Up</span>
                </div>
                <a href="#">
                  <img src="https://i.imgur.com/WBTntRU.jpg" />
                </a>
              </li>
              <li>
                <div class="slidetitle">
                  <span>Cars 2</span>
                </div>
                <a href="#">
                  <img src="https://i.imgur.com/QwnE7FX.jpg" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div> -->